body, html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background:#f3f3f3;
  text-align: center;
}
body html {
  padding: 0;
  width: 100%;
  float: left;
  font-family: 'Roboto',Arial,sans-serif;
}
body .header{
  color: #ecf0f1;
}
body .header p{
  color: #666;
}
body .header p a{
  color: #6699cc;
}
.main p {
  color: #000;
  font-size: 16px;
  font-weight: 100;
}
.nav-top {
  background: black;
}
.nav-top a {
  color: #ecf0f1;
}

h1 {
  color: #000;
  font-family: 'Roboto',Arial,sans-serif;
  font-size: 64px;
}

h1 span {
  font-size: 44px;
  display: block;
}


.menu, .header, .nav-top {
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}
.main{
  max-width: 1000px;
  margin: 0 auto;
}
.demo1 .main{
  overflow: hidden;
  position: relative;
}
.page_container {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 20px;
  background: white;
}
.page_container .header1 {
  border: none;
  margin: -20px -20px 20px -20px;
  background-size: 100%;
  color: black;
  text-align: center;
  padding: 200px 50px;
}
.header1_g {
  background: url(../images/b2.jpg) no-repeat center center;
  background-size: 100%;
}
.header1_h {
  background: url(../images/hzb.jpg) no-repeat center center;
  background-size: 100%;
}
.header1_z {
  background: url(../images/q1.jpg) no-repeat center center;
}
.header1_c {
  background: url(../images/bh.jpg) no-repeat center center;
}
.page_container h2, .page_container h1, .sidebar h2{
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding-bottom: 15px;
}
.page_container h2, .page_container h1 , .page_container h3, .sidebar h2, .sidebar h3{
  color: black;
  text-align: left;
}
.page_container p, .sidebar p {
  color: black;
  font-size: 18px;
  line-height: 180%;
  text-align: left;
}

.page_container h2 {
  font-size: 35px;
}

.check1{
  height: 230px; 
  width: 400px;
  float: left;
  margin-right: 1em;
  margin-top: 10px;
  background-size: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 230px;
}
.check1_g{
    background: url(../images/gz1.jpg) no-repeat;
    background-size: 100%;
}
.check1_h{
    background: url(../images/hz2.png) no-repeat;
    background-size: 100%;
}
.check1_z{
    background: url(../images/q2.jpg) no-repeat;
    background-size: 100%;
}
.check1_c{
    background: url(../images/bh1.jpg) no-repeat;
    background-size: 100%;
}
.check2{
  height: 230px; 
  width: 400px;
  float: right;
  margin-left: 1em;
  background-size: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 230px;
}
.check2_g{
  background: url(../images/gz2.png) no-repeat;
  background-size: 100%;
}
.check2_h{
  background: url(../images/hz1.jpg) no-repeat center;
  background-size: 100%;
}
.check2_c{
  background: url(../images/bh2.jpg) no-repeat center;
  background-size: 100%;
}